@charset "utf-8";

*{margin:0;padding:0}
body{
	height:auto!important;
	height:240px;
	min-height:240px;
	padding:40px 40px;
	}
.query-result{
	height:auto!important;
	height:160px;
	min-height:160px;
}
.query-border{
	padding:9px;
	width:600px;
	min-height:100px;
	height:auto;
	border:2px solid #e3e3e3;		
	margin:10px 0px 0px 0px;
	}
.query-container{
	height:100%;	
	}
.pic{
	height:100%;
	width:20%;
	float:left;
	}
.input-bar{
	float:right;
	width:78%;
	height:100%;
	}
.input-title{
	font-size:20px;
	letter-spacing:2px;
	height:30%;
	padding:10px 0px 0px 0px;
	}
.input{
	height:70%;
	}	
.box-button{
	height:60%;
}
.yaohao-input{
	height:28px;
	width:280px;
	font-size:17px;
	border:1px solid #B8B8B8;
	}
.update-time{
	float:left;
}
#input-button {
width: 100px;
height: 33px;
margin:0px 3px;
text-align: center;
font-weight: bold;
color: #fff;
text-shadow: 1px 1px 1px #333;
letter-spacing:1px;
position: relative;
overflow: hidden;
border:1px solid #fff;
box-shadow: 0 1px 2px #b9ecc4 inset,0 -1px 0 #6c9f76 inset,0 -2px 3px #b9ecc4 inset;
background: #0B6462;
}
.myDiv{
	word-wrap:break-word;
}
